/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.block { display: block !important; }
.hidden { display: none !important; }
.inline-block { display: inline-block !important; }
.visible { opacity: 1; }
.invisible { opacity: 0; }

/* -----------------------------------------
   BASE STYLES
----------------------------------------- */

@import url("http://fonts.googleapis.com/css?family=Spirax|Risque");

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.container {
    margin-top: 30px;
}

/* -----------------------------------------
   THERMOMETER STYLES
----------------------------------------- */

#label_title {
    text-align: center;
    font-weight: 300;
    font-size: 74px;
    line-height: 1;
}

#label_good {
    text-align: left;
    font-family: 'Spirax', cursive;
    font-size: 120px;
    color: #2980B9;
    padding-top: 32px;
    line-height: 1;
}

#label_bad {
    text-align: right;
    font-family: 'Risque', cursive;
    font-size: 120px;
    color: #C0392B;
    padding-top: 32px;
    line-height: 1;
}

#thermometer {
    position: relative;
    height: 70px;
    margin-top: 25px;
}

#thermometer #good {
    position: absolute;
    left: 0;
    height: 20px;
    width: 470px;
    background-color: #3498DB;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#thermometer #bad {
    position: absolute;
    right: 0;
    height: 20px;
    width: 470px;
    background-color: #E74C3C;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Not sure about use of cursor */
#thermometer #cursor {
    position: absolute;
    left: 463.5px;
    top: -8px;
    height: 30px;
    width: 10px;
    background-color: #FFF;
    border: 3px solid #95A5A6;
}

/* -----------------------------------------
   TWEET STYLES
----------------------------------------- */

#tweet_good {
    text-align: left;
}

#tweet_bad {
    text-align: right;
}