/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.block { display: block !important; }
.hidden { display: none !important; }
.inline-block { display: inline-block !important; }
.visible { opacity: 1; }
.invisible { opacity: 0; }

/* -----------------------------------------
   BASE STYLES
----------------------------------------- */

@import url("http://fonts.googleapis.com/css?family=Spirax|Risque");

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.container {
    margin-top: 30px;
}



/* -----------------------------------------
   THERMOMETER STYLES
----------------------------------------- */

#label_title {
    text-align: center;
    font-weight: 300;
    font-size: 74px;
    line-height: 1;
    color: #2C3E50;
}

#label_good {
    text-align: left;
    font-family: 'Spirax', cursive;
    font-size: 120px;
    color: #2980B9;
    padding-top: 32px;
    line-height: 1;
}

#label_bad {
    text-align: right;
    font-family: 'Risque', cursive;
    font-size: 120px;
    color: #C0392B;
    padding-top: 32px;
    line-height: 1;
}

#thermometer {
    position: relative;
    height: 70px;
    margin-top: 25px;
}

#thermometer #good {
    position: absolute;
    left: 0;
    height: 20px;
    width: 470px;
    background-color: #3498DB;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

#thermometer #bad {
    position: absolute;
    right: 0;
    height: 20px;
    width: 470px;
    background-color: #E74C3C;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

/* Not sure about use of cursor */
#thermometer #cursor {
    position: absolute;
    left: 463.5px;
    top: -8px;
    height: 30px;
    width: 10px;
    background-color: #FFF;
    border: 3px solid #95A5A6;
}

/* -----------------------------------------
   TWEET STYLES
----------------------------------------- */

#tweet_good, #tweet_bad, .image, .details .row {
    float: left;
    margin-left: 20px;
}

#tweet_good {
    width: 440px;
}

#tweet_bad {
    width: 440px;
    margin-left: 60px;
}

.tweet_link {
    color: inherit;
}

.tweet_link:hover .tweet .text {
    color: #BDC3C7;
}

.tweet_link:hover .tweet .username {
    text-decoration: underline;
}

#tweet_good .tweet_link:hover .image {
    border: 1px solid #3498DB;
    box-shadow: 0 0 10px #3498DB;
}

#tweet_bad .tweet_link:hover .image {
    border: 1px solid #E74C3C;
    box-shadow: 0 0 10px #E74C3C;
}

.tweet {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 30px;
    color: #2C3E50;
}

.tweet:before {
    left: 10%;
    width: 80%;
    height: 2px;
    margin-bottom: 30px;
    background-color: #ECF0F1;
    position: relative;
}

.tweet_link:first-child .tweet:before {
    display: none;
}

.tweet .image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.tweet .details .row {
    width: 360px;
}

.tweet .details .username {
    font-weight: bold;
}

.tweet .details .screenname {
    margin-left: 4px;
}

#tweet_good .screenname, #tweet_good .faith {
    color: #2980B9;
}

#tweet_bad .screenname, #tweet_bad .faith {
    color: #C0392B;
}

#tweet_good .faith, #tweet_bad .faith {
    font-weight: bold;
}

.tweet .details .timeago {
    float: right;
    color: #95A5A6;
}

.tweet .details .text {
    margin-top: 2px;
    color: #7F8C8D;
}

.tweet_hidden {
    display: none;
}