{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="span3 count" id="label_good">
            {{good_score}}
        </div>

        <div class="span6" id="label_title">
            THE FAITH IN HUMANITY
        </div>

        <div class="span3 count" id="label_bad">
            {{bad_score}}
        </div>
    </div>

     <div class="row">
        <div class="span12" id="thermometer">
            <div id="good"></div>
            <div id="bad"></div>
        </div>
    </div>

{#    <div class="row">
        <div class="span6" id="tweet_good">
            <div class="row tweet">
                <div class="span1">
                    <img src="https://si0.twimg.com/profile_images/3052758791/d80106e8c6caa05ce6b3992f90e19ae0_normal.jpeg" alt="">
                </div>
                <div class="span5">
                    <div class="row">
                        <div class="span5">
                            Kevin Xu
                            @imkevinxu
                            3 hours ago
                        </div>
                    </div>
                    <div class="row">
                        <div class="span5">
                            This must be what heaven looks like @ Shabu House
                        </div>
                    </div>
                </div>
            </div>

            {% for tweet in good_tweets %}
                {{ tweet.id_str }}
            {% endfor %}
        </div>
        <div class="span6" id="tweet_bad">
            {% for tweet in bad_tweets %}
                {{ tweet.id_str }}
            {% endfor %}
        </div>
    </div> #}


{#     <footer class="row">
        <div class="span12">
            &copy; The Faith In Humanity
        </div>
    </footer> #}
</div>

{% endblock %}

{% block javascript %}{% endblock %}
