{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div class="container">

    <div class="row" id="labels">
        <div class="span3" id="good">
            <h1>50</h1>
        </div>

        <div class="span6" id="title">
            <h1>THE FAITH IN HUMANITY</h1>
        </div>

        <div class="span3" id="bad">
            <h1>50</h1>
        </div>
    </div>

    <div class="row">
        <div class="span12" id="thermometer">
            <div id="good"></div>
            <div id="bad"></div>
            <div id="cursor"></div>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            {% for tweet in good_tweets %}
                {{ tweet.tweet_id_string }}
            {% endfor %}
        </div>
        <div class="span6">
            {% for tweet in bad_tweets %}
                {{ tweet.tweet_id_string }}
            {% endfor %}
        </div>
    </div>


{#     <footer class="row">
        <div class="span12">
            &copy; The Faith In Humanity
        </div>
    </footer> #}
</div>

{% endblock %}

{% block javascript %}{% endblock %}
