{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% load humanize %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="span3 count" id="label_good">
            {{ good_score }}
        </div>

        <div class="span6" id="label_title">
            THE FAITH IN HUMANITY
        </div>

        <div class="span3 count" id="label_bad">
            {{ bad_score }}
        </div>
    </div>

     <div class="row">
        <div class="span12" id="thermometer">
            <div id="good" data-percentage="{{ good_score }}"></div>
            <div id="bad" data-percentage="{{ bad_score }}"></div>
        </div>
    </div>

   <div class="row">
        <div id="tweet_good">
            {% for tweet in good_tweets_without_retweets[10:] %}
                <a href="http://twitter.com/tweet/status/{{ tweet.id_str }}" target="_blank" class="tweet_link">
                    <div class="row tweet">
                        <div class="image">
                            <img src="{{ tweet.profile_image_url }}">
                        </div>
                        <div class="details">
                            <div class="row">
                                <span class="username">{{ tweet.username }}</span>
                                <span class="screenname">@{{ tweet.screenname }}</span>
                                <span class="timeago">{{ tweet.created_at|naturaltime|replace("second", "sec")|replace("minute", "min") }}</span>
                            </div>
                            <div class="row text">
                                {{ tweet.text }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% for tweet in good_tweets_without_retweets[:10]|reverse %}
                <a href="http://twitter.com/tweet/status/{{ tweet.id_str }}" target="_blank" class="tweet_hidden" data-order="{{ loop.index }}">
                    <div class="row tweet">
                        <div class="image">
                            <img src="{{ tweet.profile_image_url }}">
                        </div>
                        <div class="details">
                            <div class="row">
                                <span class="username">{{ tweet.username }}</span>
                                <span class="screenname">@{{ tweet.screenname }}</span>
                                <span class="timeago">{{ tweet.created_at|naturaltime|replace("second", "sec")|replace("minute", "min") }}</span>
                            </div>
                            <div class="row text">
                                {{ tweet.text }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div id="tweet_bad">
            {% for tweet in bad_tweets_without_retweets[5:] %}
                <a href="http://twitter.com/tweet/status/{{ tweet.id_str }}" target="_blank" class="tweet_link">
                    <div class="row tweet">
                        <div class="image">
                            <img src="{{ tweet.profile_image_url }}">
                        </div>
                        <div class="details">
                            <div class="row">
                                <span class="username">{{ tweet.username }}</span>
                                <span class="screenname">@{{ tweet.screenname }}</span>
                                <span class="timeago">{{ tweet.created_at|naturaltime|replace("second", "sec")|replace("minute", "min") }}</span>
                            </div>
                            <div class="row text">
                                {{ tweet.text }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% for tweet in bad_tweets_without_retweets[:10]|reverse %}
                <a href="http://twitter.com/tweet/status/{{ tweet.id_str }}" target="_blank" class="tweet_hidden" data-order="{{ loop.index }}">
                    <div class="row tweet">
                        <div class="image">
                            <img src="{{ tweet.profile_image_url }}">
                        </div>
                        <div class="details">
                            <div class="row">
                                <span class="username">{{ tweet.username }}</span>
                                <span class="screenname">@{{ tweet.screenname }}</span>
                                <span class="timeago">{{ tweet.created_at|naturaltime|replace("second", "sec")|replace("minute", "min") }}</span>
                            </div>
                            <div class="row text">
                                {{ tweet.text }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>


{#     <footer class="row">
        <div class="span12">
            &copy; The Faith In Humanity
        </div>
    </footer> #}
</div>

{% endblock %}

{% block javascript %}{% endblock %}
