{% extends "base.html" %}
{% block title %}Log In - {{ super() }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="span5">
            <h2>Welcome</h2>

            <form action="{% url login %}" method="post">{% csrf_token %}

                {{ form.as_ul()|safe }}
                <input type="hidden" name="next" value="{{ next }}" />
                <input class="btn" type="submit" value="Log In" />

            </form>

        </div>
    </div>
</div>

{% endblock %}